@import "@penpot/plugin-styles/styles.css";

.qrcode-input {
  width: 100%;
}

.generation-options {
  display: flex;
  gap: var(--spacing-8);
}

.preview-container {
  margin-block-start: var(--spacing-12);
  border-radius: var(--spacing-8);
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ddd;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
                    linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-preview {
  width: 75%;
  max-height: 100%;
  margin: 12px;
}

.generation-size {
  inline-size: 60px;
}

.generation-type {
  inline-size: 100%;
}

.sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  height: 100vh;
  justify-content: space-between;
}

section {
  padding-block-start: var(--spacing-12);
  button {
    inline-size: 100%;
  }
}

.generate {
  padding-block-end: var(--spacing-12);
  button {
    margin-block-start: var(--spacing-12);
  }
}

.extra-options {
  margin-block-start: auto;
  padding-block-end: 1px; /* fix the border bottom issue */
  display: flex;
  flex-direction: column;
}

.btn-note {
  margin-block-start: var(--spacing-8);
  text-align: center;
  display: none !important;
}